body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 77vh;
    background-color: #b0acac;
    margin: 0;
}

h1 {
    margin-bottom: 25px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Making space for a wider layout */
    gap: 10px;
    width: 685px;
    background-color: rgb(44, 43, 43);
    padding: 19px;
    border-radius: 20px;
}


.calculator .output {
    grid-column: span 7; /* Adjusting for the wider layout */
    color: white;
    text-align: right;
    font-size: 2.5rem;
    background-color: hsl(0, 0%, 27%);
    padding: 17px;
    border-radius: 10px;
}

button {
    width: 100%;
    height: 80px;
    border-radius: 13px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: hsl(0, 16%, 41%);
}

button:active {
    background-color: hsl(0, 17%, 32%);
    transform: scale(0.95);
}

/* Special Buttons */
.orange {
    background-color: #c04b28 !important;
}

.orange:hover {
    background-color: #7c2508 !important;
}

.orange:active {
    background-color: #e36e48 !important;
    transform: scale(0.95);
}
